---
- name: "Include {{ bootstrap_playbook_meta_namespace }}.{{ bootstrap_playbook_meta_playbook_name }} playbook"
  tags:
      - "{{ bootstrap_playbook_meta_namespace }}.{{ bootstrap_playbook_meta_playbook_name }}"
  ansible.builtin.import_playbook: "../../playbook.yml"
